#portraitImg {
    background-color: darkblue;
    height:   280px;
    width:    260px;
    position: relative;
    left:     35px;
    top:      100px;
}
p {
    justify-content: center;
    font-family: "Times New Roman";
    color:       white;
    font-size:   25px;
    position:    relative;
    bottom:      180px;
    left:        340px;

}
.back-line {
    padding:   0;
    border:    0;
    margin:    0;
    background-color: black;
    opacity:  .8;
    width:    1200px;
    height:   400px;
    position: absolute;
    top:      70px;
    z-index:  -1;
}
body {
    background-color: darkblue;
    z-index: -2;
}